POSTGRES_DB=choreo
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432

# postgresql://[user[:password]@][netloc][:port][,...][/dbname][?param1=value1&...]
# postgresql://user:pass@localhost:5432/postgres
